<a href="https://colab.research.google.com/github/SahilKumar-003/Python_Tutor/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA STRUCTUTRE**
***List, Tuples, Set, Dictionary***

In [40]:
item_name = ["Pizza","Burger","Pasta","Coffie","Tea","Mango Shake"]
prices = [150,77,99,49,20,60]
discounts = [3,3,3,2,0,2]
total = 0
disc = 10
print("Item Names:",item_name)
print("Prices:",prices)
print("Discounts:",discounts)
print(prices[2])
for price in prices:
  total += price
after_discount = total - (total*10)/100
print("Total Bill:",total)
print("Prices after Discount:",after_discount)

Item Names: ['Pizza', 'Burger', 'Pasta', 'Coffie', 'Tea', 'Mango Shake']
Prices: [150, 77, 99, 49, 20, 60]
Discounts: [3, 3, 3, 2, 0, 2]
99
Total Bill: 455
Prices after Discount: 409.5

In [42]:
a = [10,20,30,40,50]
print(a[1])
num = 30
if num in a:
  print("Avaliable")
else:
  print("Not avaliable")
print(a[-5:-1])

20
Avaliable
[10, 20, 30, 40]

In [23]:
a = [10,20,30,40,50]
sum = 0
for values in a:
  print(values)
  sum += values
print("Total",sum)
a.append(60)    # .append() function
print(a)

10
20
30
40
50
Total 150
[10, 20, 30, 40, 50, 60]

In [31]:
a = [10,20,30,40,50]
a[1] = 50
a.remove(40)    # .pop() function, .push() function
a.pop()
print(a)

[10, 50, 30]