<a href="https://colab.research.google.com/github/SahilKumar-003/Python_Tutor/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment
''' hello welcome to python class
python is a high level Programming Language
'''

' hello welcome to python class\npython is a high level Programming Language\n'

In [ ]:
#Data Type
a = 5
b = 5.6
c = "Python"
d = True
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

5 <class 'int'>
5.6 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [ ]:
#Billing System
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
total_price = price_of_shirt + price_of_jeans + price_of_shoes
print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 900
Price of jeans: 1000
Price of shoes 5000
Total Price: 6900

In [ ]:
# Billing System With Discount
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
discount_on_shirt = 10
discount_on_jeans = 3
discount_on_shoes = 11
#After Discount
discountshirt = price_of_shirt*discount_on_shirt/100
discountjeans = price_of_jeans*discount_on_jeans/100
discountshoes = price_of_shoes*discount_on_shoes/100
price_of_shirt = price_of_shirt - discountshirt
price_of_jeans = price_of_jeans - discountjeans
price_of_shoes = price_of_shoes - discountshoes
total_price = price_of_shirt + price_of_jeans + price_of_shoes

print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 810.0
Price of jeans: 970.0
Price of shoes 4450.0
Total Price: 6230.0

In [ ]:
# Restraunt Billing System
pizza_medium = 199
pizza_large = 299
noodles = 99
creamy_pasta = 120
sandwich_regular = 99
burger = 59
total_price = pizza_medium + pizza_large + noodles + creamy_pasta + sandwich_regular + burger
#discount given to the items
discount_on_pizza_medium = 5
discount_on_pizza_large = 10
discount_on_noodles = 0
discount_on_creamy_pasta = 5
discount_on_sandwich_regular = 4
discount_on_burger = 0
#Calculating discount on items
pizza_medium_discount = pizza_medium*discount_on_pizza_medium/100
pizza_large_discount = pizza_large*discount_on_pizza_large/100
noodles_discount = noodles*discount_on_noodles/100
creamy_pasta_discount = creamy_pasta*discount_on_creamy_pasta/100
sandwich_regular_discount = sandwich_regular*discount_on_sandwich_regular/100
burger_discount = burger*discount_on_burger/100
#Prize after discount
net_prize_pizza_medium = pizza_medium-pizza_medium_discount
net_prize_pizza_large = pizza_large-pizza_large_discount
net_prize_noodles = noodles-noodles_discount
net_prize_creamy_pasta = creamy_pasta-creamy_pasta_discount
net_prize_sandwich_regular = sandwich_regular-sandwich_regular_discount
net_prize_burger = burger-burger_discount
net_total_prize = net_prize_pizza_medium + net_prize_pizza_large + net_prize_noodles + net_prize_creamy_pasta + net_prize_sandwich_regular + net_prize_burger
print("Hungerz Food Point \nSales Price")
print("Pizza medium:",pizza_medium,"\nPizza large:",pizza_large,"\nNoodles:",noodles,"\nCreamy Pasta:",creamy_pasta,"\nSandwich regular:",sandwich_regular,"\nBurger:",burger)
print("Total Price :",total_price)
print("\nDiscounted Prize")
print("Pizza medium",net_prize_pizza_medium,"\nPizza large:",net_prize_pizza_large,"\nNoodles:",net_prize_noodles,"\nCreamy pasta:",net_prize_creamy_pasta,"\nSandwich regular:",net_prize_sandwich_regular,"\nBurger:",net_prize_burger)
print("Total Amount :",net_total_prize)

Hungerz Food Point
Sales Price
Pizza medium: 199
Pizza large: 299
Noodles: 99
Creamy Pasta: 120
Sandwich regular: 99
Burger: 59
Total Price : 875

Discounted Prize
Pizza medium 189.05
Pizza large: 269.1
Noodles: 99.0
Creamy pasta: 114.0
Sandwich regular: 95.04
Burger: 59.0
Total Amount : 825.19

In [ ]:
# Currency Convertor
usd_inr = float(input("Currency in USD:"))
rupee_value_in_dollar = 88.1
usd_inr = usd_inr*rupee_value_in_dollar
print("Currency converted from USD to INR:",usd_inr)

inr_usd = float(input("Currency in INR:"))
inr_usd = inr_usd/rupee_value_in_dollar
print("Currency converted From INR to USD",inr_usd)

euro_inr = float(input("Currency in Euro:"))
rupee_value_in_euro = 103.30
euro_inr = euro_inr*rupee_value_in_euro
print("Currency Converted from Euro to INR: ",euro_inr)

inr_euro = float(input("Currency in INR:"))
inr_euro = inr_euro/rupee_value_in_euro
print("Currency Converted To INR from Euro",inr_euro)

Currency in USD:5
Currency converted from USD to INR: 440.5
Currency in INR:500
Currency converted From INR to USD 5.675368898978434
Currency in Euro:5
Currency Converted from Euro to INR:  516.5
Currency in INR:1000
Currency Converted To INR from Euro 9.68054211035818

In [ ]:
#Simple Intrest
principle = 10000
rate = 5 #(5% monthly)
time = 6  # months
si = (principle*rate*time)/100
print(si)

3000.0

In [ ]:
#Simple Intrest Per Days
principle = 1000
rate = 5
months = 2
days = 3
days_in_month = days/30
# time = months + days
# si = (principle*rate*time)/100
# print(si)
si_month = (principle*rate*months)/100
# print(si1)
si_days_in_month = (principle*rate*days_in_month)/100
# print(si2)
print("Simple Intrest ",si_month + si_days_in_month)

Simple Intrest  105.0

In [ ]:
# if else
age = 35
if age>= 18:
  print("Eligible For Voting")
else:
  print("Not eligible for Voting")

Eligible For Voting

In [ ]:
num =  15
if num % 2 == 0 :
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
#if elif
color = "blue"
if color  == "red":
  print("Accepted")
elif color == "blue":
  print("Manage")
else:
  print("not acceptable")

Manage

In [ ]:
# Nested if else
gender = str(input("Enter Your Gender:"))
age = int(input("Enter Your Age:"))
if gender == "male":
  print("Go to Hotel A")
  if age >=30:
    print("Your Building Number is 1")
  else:
    print("Your Building Number is 2")
elif gender == "female":
  print("Go to Hotel B")
  if age>= 30:
    print("Your Building Number is 100")
  else:
    print("Your Building Number is 101")
else:
  print("No Result")

Enter Your Gender:male
Enter Your Age:21
Go to Hotel A
Your Building Number is 2

In [ ]:
#User Input
# Takes String by default
name = input("Enter your Name:")
age = int(input("Enter your Age:"))
salary = float(input("Enter your Salary:"))
status = bool(input("Married or unmarried:"))

Enter your Name:Aryan Sharma
Enter your Age:21
Enter your Salary:5000
Married or unmarried:married

In [63]:
# simple intrest with if condition
principle = 10000
rate = 5
months = 5
no_of_day = 10
month_name = input("Enter month:")
if month_name == "jan"or month_name =="mar"or month_name == "may" or month_name == "july" or month_name == "aug" or month_name == "oct" or month_name ==  "dec":
  days = 31

elif month_name == "apr" or month_name == "june" or month_name == "sep" or month_name == "nov":
  days = 30

elif month_name == "feb":
  days = 28

else:
  print("Invalid Input")
print(month_name)

days_in_month = no_of_day/days
print(days_in_month)

si = (principle*rate*days_in_month)/100
print("Simple Intrest :",si)

Enter month:mar
mar
0.3225806451612903
Simple Intrest : 161.29032258064515

In [65]:
#leap Year
year = 2024
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:  # leap year condition
  print("leap Year")
else:
  print("Not a leap year")

leap Year

In [84]:
# leap year using nested if else
year2 = 2024
if year2 % 4 == 0 :
  if year2 % 100 == 0 :
    if year2 % 400 == 0 :
      print("leap year")
    else:
      print("not a leap year")
  else:
    print("leap year")
else:
  print("not a leap year")

leap year