<a href="https://colab.research.google.com/github/SahilKumar-003/Python_Tutor/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment
''' hello welcome to python class
python is a high level Programming Language
'''

In [3]:
#Data Type
a = 5
b = 5.6
c = "Python"
d = True
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

5 <class 'int'>
5.6 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [15]:
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
total_price = price_of_shirt + price_of_jeans + price_of_shoes
print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 900
Price of jeans: 1000
Price of shoes 5000
Total Price: 6900

In [16]:
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
discount_on_shirt = 10
discount_on_jeans = 3
discount_on_shoes = 11
#After Discount
discountshirt = price_of_shirt*discount_on_shirt/100
discountjeans = price_of_jeans*discount_on_jeans/100
discountshoes = price_of_shoes*discount_on_shoes/100
price_of_shirt = price_of_shirt - discountshirt
price_of_jeans = price_of_jeans - discountjeans
price_of_shoes = price_of_shoes - discountshoes
total_price = price_of_shirt + price_of_jeans + price_of_shoes

print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 810.0
Price of jeans: 970.0
Price of shoes 4450.0
Total Price: 6230.0