<a href="https://colab.research.google.com/github/SahilKumar-003/Python_Tutor/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment
''' hello welcome to python class
python is a high level Programming Language
'''

' hello welcome to python class\npython is a high level Programming Language\n'

In [ ]:
#Data Type
a = 5
b = 5.6
c = "Python"
d = True
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

5 <class 'int'>
5.6 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [ ]:
#Billing System
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
total_price = price_of_shirt + price_of_jeans + price_of_shoes
print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 900
Price of jeans: 1000
Price of shoes 5000
Total Price: 6900

In [ ]:
# Billing System With Discount
price_of_shirt = 900
price_of_jeans = 1000
price_of_shoes = 5000
discount_on_shirt = 10
discount_on_jeans = 3
discount_on_shoes = 11
#After Discount
discountshirt = price_of_shirt*discount_on_shirt/100
discountjeans = price_of_jeans*discount_on_jeans/100
discountshoes = price_of_shoes*discount_on_shoes/100
price_of_shirt = price_of_shirt - discountshirt
price_of_jeans = price_of_jeans - discountjeans
price_of_shoes = price_of_shoes - discountshoes
total_price = price_of_shirt + price_of_jeans + price_of_shoes

print("Price of Shirt:",price_of_shirt,"\nPrice of jeans:",price_of_jeans,"\nPrice of shoes",price_of_shoes)
print("Total Price:",total_price)

Price of Shirt: 810.0
Price of jeans: 970.0
Price of shoes 4450.0
Total Price: 6230.0

In [ ]:
# Restraunt Billing System
pizza_medium = 199
pizza_large = 299
noodles = 99
creamy_pasta = 120
sandwich_regular = 99
burger = 59
total_price = pizza_medium + pizza_large + noodles + creamy_pasta + sandwich_regular + burger
#discount given to the items
discount_on_pizza_medium = 5
discount_on_pizza_large = 10
discount_on_noodles = 0
discount_on_creamy_pasta = 5
discount_on_sandwich_regular = 4
discount_on_burger = 0
#Calculating discount on items
pizza_medium_discount = pizza_medium*discount_on_pizza_medium/100
pizza_large_discount = pizza_large*discount_on_pizza_large/100
noodles_discount = noodles*discount_on_noodles/100
creamy_pasta_discount = creamy_pasta*discount_on_creamy_pasta/100
sandwich_regular_discount = sandwich_regular*discount_on_sandwich_regular/100
burger_discount = burger*discount_on_burger/100
#Prize after discount
net_prize_pizza_medium = pizza_medium-pizza_medium_discount
net_prize_pizza_large = pizza_large-pizza_large_discount
net_prize_noodles = noodles-noodles_discount
net_prize_creamy_pasta = creamy_pasta-creamy_pasta_discount
net_prize_sandwich_regular = sandwich_regular-sandwich_regular_discount
net_prize_burger = burger-burger_discount
net_total_prize = net_prize_pizza_medium + net_prize_pizza_large + net_prize_noodles + net_prize_creamy_pasta + net_prize_sandwich_regular + net_prize_burger
print("Hungerz Food Point \nSales Price")
print("Pizza medium:",pizza_medium,"\nPizza large:",pizza_large,"\nNoodles:",noodles,"\nCreamy Pasta:",creamy_pasta,"\nSandwich regular:",sandwich_regular,"\nBurger:",burger)
print("Total Price :",total_price)
print("\nDiscounted Prize")
print("Pizza medium",net_prize_pizza_medium,"\nPizza large:",net_prize_pizza_large,"\nNoodles:",net_prize_noodles,"\nCreamy pasta:",net_prize_creamy_pasta,"\nSandwich regular:",net_prize_sandwich_regular,"\nBurger:",net_prize_burger)
print("Total Amount :",net_total_prize)

Hungerz Food Point
Sales Price
Pizza medium: 199
Pizza large: 299
Noodles: 99
Creamy Pasta: 120
Sandwich regular: 99
Burger: 59
Total Price : 875

Discounted Prize
Pizza medium 189.05
Pizza large: 269.1
Noodles: 99.0
Creamy pasta: 114.0
Sandwich regular: 95.04
Burger: 59.0
Total Amount : 825.19

In [ ]:
# Currency Convertor
usd_inr = float(input("Currency in USD:"))
rupee_value_in_dollar = 88.1
usd_inr = usd_inr*rupee_value_in_dollar
print("Currency converted from USD to INR:",usd_inr)

inr_usd = float(input("Currency in INR:"))
inr_usd = inr_usd/rupee_value_in_dollar
print("Currency converted From INR to USD",inr_usd)

euro_inr = float(input("Currency in Euro:"))
rupee_value_in_euro = 103.30
euro_inr = euro_inr*rupee_value_in_euro
print("Currency Converted from Euro to INR: ",euro_inr)

inr_euro = float(input("Currency in INR:"))
inr_euro = inr_euro/rupee_value_in_euro
print("Currency Converted To INR from Euro",inr_euro)

Currency in USD:5
Currency converted from USD to INR: 440.5
Currency in INR:500
Currency converted From INR to USD 5.675368898978434
Currency in Euro:5
Currency Converted from Euro to INR:  516.5
Currency in INR:1000
Currency Converted To INR from Euro 9.68054211035818

In [ ]:
#Simple Intrest
principle = 10000
rate = 5 #(5% monthly)
time = 6  # months
si = (principle*rate*time)/100
print(si)

3000.0

In [ ]:
#Simple Intrest Per Days
principle = 1000
rate = 5
months = 2
days = 3
days_in_month = days/30
# time = months + days
# si = (principle*rate*time)/100
# print(si)
si_month = (principle*rate*months)/100
# print(si1)
si_days_in_month = (principle*rate*days_in_month)/100
# print(si2)
print("Simple Intrest ",si_month + si_days_in_month)

Simple Intrest  105.0

In [ ]:
# if else
age = 35
if age>= 18:
  print("Eligible For Voting")
else:
  print("Not eligible for Voting")

Eligible For Voting

In [ ]:
num =  15
if num % 2 == 0 :
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
#if elif
color = "blue"
if color  == "red":
  print("Accepted")
elif color == "blue":
  print("Manage")
else:
  print("not acceptable")

Manage

In [ ]:
# Nested if else
gender = str(input("Enter Your Gender:"))
age = int(input("Enter Your Age:"))
if gender == "male":
  print("Go to Hotel A")
  if age >=30:
    print("Your Building Number is 1")
  else:
    print("Your Building Number is 2")
elif gender == "female":
  print("Go to Hotel B")
  if age>= 30:
    print("Your Building Number is 100")
  else:
    print("Your Building Number is 101")
else:
  print("No Result")

Enter Your Gender:male
Enter Your Age:21
Go to Hotel A
Your Building Number is 2

In [ ]:
#User Input
# Takes String by default
name = input("Enter your Name:")
age = int(input("Enter your Age:"))
salary = float(input("Enter your Salary:"))
status = bool(input("Married or unmarried:"))

Enter your Name:Aryan Sharma
Enter your Age:21
Enter your Salary:5000
Married or unmarried:married

In [ ]:
# simple intrest with if condition
principle = 10000
rate = 5
months = 5
no_of_day = 10
month_name = input("Enter month:")
if month_name == "jan"or month_name =="mar"or month_name == "may" or month_name == "july" or month_name == "aug" or month_name == "oct" or month_name ==  "dec":
  days = 31

elif month_name == "apr" or month_name == "june" or month_name == "sep" or month_name == "nov":
  days = 30

elif month_name == "feb":
  days = 28

else:
  print("Invalid Input")
print(month_name)

days_in_month = no_of_day/days
print(days_in_month)

si = (principle*rate*days_in_month)/100
print("Simple Intrest :",si)

Enter month:mar
mar
0.3225806451612903
Simple Intrest : 161.29032258064515

In [ ]:
#leap Year
year = 2024
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:  # leap year condition
  print("leap Year")
else:
  print("Not a leap year")

leap Year

In [ ]:
# leap year using nested if else
year2 = 2024
if year2 % 4 == 0 :
  if year2 % 100 == 0 :
    if year2 % 400 == 0 :
      print("leap year")
    else:
      print("not a leap year")
  else:
    print("leap year")
else:
  print("not a leap year")

leap year

In [ ]:
#SImple Intrest with leap year
principle = 5000
rate = 5
year = 2024
days_in_month = 10
month_name = input("Enter the name of month having 10 days:")
if month_name == "jan" or month_name == "mar" or month_name == "may" or month_name == "july" or month_name == "aug" or month_name == "oct" or month_name == "dec":
  month_of_days = 31
elif month_name == "apr" or month_name == "june" or month_name == "sep" or month_name == "nov":
  month_of_days = 30
elif month_name == "feb":
  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0 :
    print("leap year")
    month_of_days = 29
  else:
    print("Not a leap year")
    month_of_days = 28
else:
  print("Invalid input")

# days_to_month = days_in_month / month_of_days
days_to_month = days_in_month / month_of_days
print(days_to_month)
simple_intrest = (principle*rate*days_to_month)/100
print("Simple Intrest:",simple_intrest)

Enter the name of month having 10 days:jan
0.3225806451612903
Simple Intrest: 80.64516129032258

*Traffic Light System*

In [ ]:
signal_light = input("Enter Traffic Light:")
if signal_light == "Red":
  print("Stop")
elif signal_light == "Yellow":
  print("Wait")
elif signal_light == "Green":
  print("Go")

Enter Traffic Light:Green
Go

In [ ]:
lane = input("Enter Your lane With Direction (SI,NI,WI,EI):").upper()
signal_light = input("Enter Traffic Light:")      #.title() first letter capital
if signal_light == "green":
  print("You Can go")
  if lane == "SI":
    print("Lanes open are: NO,WO,EO")
  elif lane == "NI":
    print("Lanes open are:SO,WO,EO")
  elif lane == "WI":
    print("Lanes open are: NO,SO,EO")
  elif lane == "EI":
    print("Lanes open are: SO,NO,WO")
elif signal_light == "yellow":
  print("Wait for your turn")
else:
  print("Stop")

Enter Traffic Light:green
You Can go
Lanes open are:SO,WO,EO

**Loops**

In [ ]:
#loop using simple Range funtion
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#loops with range and step size
for i in range(1,9,3):
  print(i)

1
4
7

In [ ]:
#loops with negative step size
for i in range(7,0,-1):
  print(i)

7
6
5
4
3
2
1

In [ ]:
number = int(input("Enter the Number:"))
if number % 100 == 0 and number % 200 == 0 and number % 500 == 0 :
  print("Number is Divisible by 100,200,500")
else:
  print("Number is not Divisible by 100,200,500")

Enter the Number:600
Number is not Divisible by 100,200,500

In [ ]:
num = int(input("Enter the number:"))
if num % 20  != 0:
  print("not div")
else:
  print("div")

Enter the number:525
not div

In [ ]:
sum = 0
for i in range(1,11):
  sum += i
  print(sum)
print("total sum :",sum)

1
3
6
10
15
21
28
36
45
55
total sum : 55

In [ ]:
sum = 0
for i in range(1,12,2):
  sum += i
  print(sum)
print("total sum :",sum)

1
4
9
16
25
36
total sum : 36

In [ ]:
sum = 0
for i in range(1,12):
  if i % 2 != 0 :
     sum += i
     print(sum)
print("total sum:",sum)

1
4
9
16
25
36
total sum: 36

In [ ]:
sum = 0
for i in range(1,11):
  if i % 2 == 0 :
     sum += i
     print(sum)
print("total sum:",sum)

2
6
12
20
30
total sum: 30

In [ ]:
sum = 0
for i in range(2,11,2):
  sum += i

  print(sum)

print(sum)

2
6
12
20
30
30

In [ ]:
sum = 0
for i in range(2,27,6):
  sum += i
  print(sum)
print("Total sum",sum)

2
10
24
44
70
Total sum 70

In [ ]:
sum = 0
for i in range(1,27):
  if i % 6 == 2 :
    sum += i
print(sum)

70

In [ ]:
k = 0
for i in range(1,100):
  if i%5 == 0 and i % 10 == 0:
   k += 1
   print(i)
print("Total number:",k)

10
20
30
40
50
60
70
80
90
Total number: 9

In [ ]:
k = 0
for i in range(1,100):
  if i % 5 == 0 and i % 10 != 0:
    k += 1
    print(i)
print("Total Numbers:",k)

5
15
25
35
45
55
65
75
85
95
Total Numbers: 10

In [ ]:
# Find the sum of numbers which are not divisible by 2,3,4,5
sum = 0
for i in range(0,26):
  if i % 2 != 0 and i % 3 != 0 and i % 4 != 0 and i % 5 != 0 :
    sum += i
    print(i)

print("sum:",sum)

1
7
11
13
17
19
23
sum: 91

In [ ]:
sum =  0
for i in range(0,26):
  if i % 2 != 0:
    if  i % 3 != 0:
       if i % 4 != 0:
        if i % 5 != 0:
          sum += i
          print(i)
print("sum:",sum)

1
7
11
13
17
19
23
sum: 91

In [ ]:
sum1 = 0
sum2 = 0
for i in range (0,26):
  sum1  += i
  if i % 2 == 0 or i % 3 == 0 or i % 5 == 0: # remove 4 because 2 is already their
    sum2 += i

print(sum1)
print(sum2)
print("Reguired result:",sum1 - sum2)

325
234
Reguired result: 91

In [ ]:
#Fibonacci Series  # we can take index from 0 or from 1 (but the answer should be correct)
first = 0
second = 1
# third = first + second
print(first)
print(second)
for i in range(3,11):
  third = first + second
  first = second
  second = third
  print(third)
print("Final Result:",third)

0
1
1
2
3
5
8
13
21
34
Final Result: 34

In [ ]:
# Factorial
fix = 1
for i in range(1,6):
  fix *= i
print("5 Factorial:",fix)

5 Factorial: 120

In [ ]:
fix = 1
sum_of_factorials = 0
for i in range(1,6):
  fix *= i
  sum_of_factorials += fix
print("factorial:",fix)
print("Sum of Factorials:",sum_of_factorials)

factorial: 120
Sum of Factorials: 153

In [ ]:
#HCF
num1 = int(input("Enter the number:"))
num2= int(input("Enter the number:"))
if num1 > num2 :
  small = num2
else:
  small = num1
for i in range (1,small+1):
  if num1 % i == 0 and num2 % i == 0 :
    hcf = i
print(hcf)
# lcm = (num1*num2)/1hcf #lcm using formula number1*number2 = hcf*lcm
# print("LCM is:",lcm)

Enter the number:45
Enter the number:15
15

In [ ]:
#LCM
num1 = int(input("Enter the number:"))
num2= int(input("Enter the number:"))
if num1 > num2:
  large = num1
else:
  large = num2
for i in range(large,(num1*num2)+1):
  if i % num1 == 0 and i % num2 == 0:
    lcm = i
    break
print("LCM:",i)

Enter the number:9
Enter the number:15
LCM: 45

In [ ]:
# Functions
def info():   #Topi
  print("hello Python")
info()  #Jutte

hello Python

In [ ]:
#Add function
def add(a,b):
  print(a+b)
add(5,10)
add(55,60)

15
115

In [ ]:
#Factorial Using Function
def fact(n):
  fix = 1
  for i in range(1,n+1):
    fix *= i
  return fix
fact(5)

120

In [ ]:
#Fibonacci series using Function
def feb(n):
  first = 0
  second = 1
  for i in range(3,n+1):
    third = first + second
    first = second
    second = third
  return third

feb(10)

34

In [ ]:
#Lcm using functions
def lcm(x,y):
 if x > y:
  large = x
 else:
   large = y
 for i in range(large,(x*y)+1):
   if i % x == 0 and i % y == 0:
     lcm_is = i
     return lcm_is
     break
lcm(40,20)

40

In [ ]:
# Hcf using function
def hcf(x,y):
  if x > y :
    small = y
  else:
    small = x
  for i in range (1,small+1):
    if x % i == 0 and y % i == 0 :
      hcf_is = i
  return hcf_is
hcf(15,20)

5

In [ ]:
#Recursion (Factorial)  # recusion time complexity is more
def fact(n):
  if n == 0 or n == 1 :
     return 1
  else:
    return n * fact(n-1)
fact(5)

120

In [ ]:
#Recursion (Fibonacci)
def feb(n):
  if n == 1 :
    return 0
  if n == 2 :
    return 1
  return feb(n-1) + feb(n-2)
feb(10)

34

In [35]:
# Reverse number using While loop
num = 56789
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num = num // 10
  print(digit)

9
8
7
6
5

In [17]:
num = 56789
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num = num // 10
print(rev)

98765

In [26]:
#palindrome
num = int(input("Enter the number:"))
temp = num
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num = num // 10
print("Reverse number is :",rev)
if temp == rev :
  print("palindrome")
else:
  print("not a palindrome")

Enter the number:1234
Reverse number is : 4321
not a palindrome

In [29]:
#Reverse using functions
def reverse(n):
  rev = 0
  while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10
  return rev
reverse(123)

321

In [36]:
#String
num = 4567
num1 = str(num)
rev = num1[::-1]
print(rev)
num3 = int(rev)/5
print(num3)

7654
1530.8

In [40]:
#reverse string using for loop
name ="aryan"
rev = ""
for char in name:
  rev = char + rev

print(rev)

nayra

In [51]:
name = " x y z "
name.split()   # .split funtion

name.replace("y","b")  # .replace
name.startswith(" ")   # .startswith

True